<!DOCTYPE html>
<html ng-app>
<head>
<title>Singup</title> <%- include('header'); -%>
</head>
<body class='mr50'>
	<div>
		<h1>Congratulations! Your account has been successfully created.</h1>
		<h1>
			You can login
			<a href="/">Login</a>
			now.
		</h1>


		<%- include('footer'); -%>
	</div>
</body>
</html>
