<!DOCTYPE html>
<html ng-app>
<head>
<title>Thinkfree Home</title>
</head>
<body class='mr50'>
	<%- include('header'); -%>
	<div>
		<div>
			<a class="btn btn-link" href="/practice">Practice</a>
			<a class="btn btn-link" href="/question">Question</a>
		</div>

		<%- include('footer'); -%>
	</div>
</body>
</html>
