<!DOCTYPE html>
<html ng-app>
<head>
<title>Singup</title>
</head>
<body class='mr50'>
	<div>
		<%- include('header'); -%> <% if(locals.err){%>
		<div class="alert alert-danger alert-error"><%= locals.err || '' %></div>
		<% }%>

		<h1>Sign Up</h1>
		<form class="form-horizontal" name='myForm' method='post' action='/create'>
			<div class="form-group">
				<label class="control-label col-xs-3" for="inputEmail">Email:</label>
				<div class="col-xs-9">
					<input type="email" class="form-control" id="inputEmail" name='email' placeholder="Email">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-3" for="inputPassword">Password:</label>
				<div class="col-xs-9">
					<input type="password" class="form-control" id="inputPassword" name='password' placeholder="Password" required>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-3" for="confirmPassword">Confirm Password:</label>
				<div class="col-xs-9">
					<input type="password" class="form-control" id="confirmPassword" name='confirmPassword'
						placeholder="Confirm Password" required>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-3" for="firstName">First Name:</label>
				<div class="col-xs-9">
					<input type="text" class="form-control" id="firstName" name='firstName' placeholder="First Name" required>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-3" for="lastName">Last Name:</label>
				<div class="col-xs-9">
					<input type="text" class="form-control" id="lastName" name='lastName' placeholder="Last Name" required>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-3" for="phoneNumber">Phone:</label>
				<div class="col-xs-9">
					<input type="tel" class="form-control" id="phoneNumber" name='phoneNumber' placeholder="Phone Number">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-3">Date of Birth:</label>
				<div class="col-xs-3">
					<select class="form-control">
						<option>Date</option>
					</select>
				</div>
				<div class="col-xs-3">
					<select class="form-control">
						<option>Month</option>
					</select>
				</div>
				<div class="col-xs-3">
					<select class="form-control">
						<option>Year</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-3" for="postalAddress">Address:</label>
				<div class="col-xs-9">
					<textarea rows="3" class="form-control" id="postalAddress" name='postalAddress' placeholder="Postal Address"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-3" for="ZipCode">Zip Code:</label>
				<div class="col-xs-9">
					<input type="text" class="form-control" id="ZipCode" name='zipCode' placeholder="Zip Code">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-3">Gender:</label>
				<div class="col-xs-2">
					<label class="radio-inline"> <input type="radio" name="gender" value="male"> Male
					</label>
				</div>
				<div class="col-xs-2">
					<label class="radio-inline"> <input type="radio" name="gender" value="female"> Female
					</label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-offset-3 col-xs-9">
					<label class="checkbox-inline"> <input type="checkbox" name='updateNews' value="news"> Send me
						latest news and updates.
					</label>
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-offset-3 col-xs-9">
					<label class="checkbox-inline"> <input type="checkbox" value="agree" required> I agree to the <a
						href="#">Terms and Conditions</a>.
					</label>
				</div>
			</div>
			<br>
			<div class="form-group">
				<div class="col-xs-offset-3 col-xs-9">
					<input type="submit" class="btn btn-success" value="Submit" ng-disabled="myForm.$invalid">
					<input type="reset" class="btn btn-default" value="Reset">
				</div>
			</div>
		</form>
	</div>

	<%- include('footer'); -%>
</body>
</html>
